services:
  ocr:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
    container_name: ocr.prod
    ports:
      - "3006:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - pdf-converter-shared-network

networks:
  pdf-converter-shared-network:
    name: pdf-converter-shared-network
    external: true
