name: Deploy Staging

on:
  push:
    branches:
      - Staging

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create .env.staging file
        run: echo "${{ secrets.ENV_STAG }}" > .env.staging

      - name: Extract NEXT_PUBLIC_API_BASE_URL
        id: extract_url
        run: |
          URL=$(grep NEXT_PUBLIC_API_BASE_URL .env.staging | cut -d '=' -f2-)
          echo "api_url=$URL" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ocr:Stag
          build-args: |
            NEXT_PUBLIC_API_BASE_URL=${{ steps.extract_url.outputs.api_url }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/Pdf-Converter
            echo "${{ secrets.ENV_STAG }}" > .env.staging
            export DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            docker stop ocr.stag || true
            docker rm ocr.stag || true
            docker compose -f docker-compose.staging.yml pull
            docker compose -f docker-compose.staging.yml up -d --force-recreate
