name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            if [ ! -d ~/Pdf-Converter ]; then
              git clone -b main https://github.com/CultivBureau/Ocr.git ~/Pdf-Converter
            fi
            cd ~/Pdf-Converter
            git fetch origin
            git checkout main
            git pull origin main
            docker compose down || true
            docker compose up -d --build
