name: Deploy Staging

on:
  push:
    branches:
      - Staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/Pdf-Converter-Staging
            git fetch origin
            git pull origin Staging
            docker rm -f ocr.stag || true
            docker compose -f docker-compose.staging.yml up -d --build
